@inherits LayoutComponentBase
@using LoginComponent

<PageTitle>BestMovies</PageTitle>

<MudThemeProvider/>

<MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.House" Edge="Edge.Start"/>
    <MudSpacer/>
    <Login/>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"/>
</MudAppBar>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
        
    </div>

    <main>
        <div class="top-row px-4">
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>