@inherits LayoutComponentBase
@using LoginComponent

<PageTitle>BestMovies</PageTitle>

<MudThemeProvider/>

<MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.House" Edge="Edge.Start"/>
    <MudSpacer/>
    <Search/>
    <MudSpacer/>
    <Login/>
    <MudIconButton Icon="@Icons.Custom.Brands.GitHub"/>
</MudAppBar>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>