@using BestMovies.Data.CustomServices
@inherits LayoutComponentBase
@* @inject NavigationManager Navigation *@
@inject IUserLoginService LoginService

<PageTitle>BestMovies</PageTitle>

<MudThemeProvider Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.House" Edge="Edge.Start" Href="/"/>
    <MudSpacer/>
    
    @* Search Field *@
    <Search/>
    <MudSpacer/>
    
    @* Account *@
    <AuthorizeView>
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Person" href="/Account"/>
        </Authorized>
        <NotAuthorized>
            <MudIconButton Icon="@Icons.Material.Filled.Person" href="/Login"/>
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    private readonly MudTheme _theme = new()
    {
        Palette = new PaletteLight
        {
            Primary = "#16C172",
            Secondary = "#2AFC98",
            Tertiary = "#2DE1FC"
        }
    };

}