@page "/Account/{userOfPageID:guid?}"
@using BestMovies.Models.ApiModels
@using BestMovies.Models.DbModels
@using BestMovies.Services
@using BestMovies.DataAccess

@inject IUserLoginService UserLoginService
@inject IUserDao UserData

<PageTitle>Account</PageTitle>

<main>
    

<h3>Account</h3>

<MudButton Href="Account/Favourites" Variant="Variant.Outlined">Favourite Movies</MudButton>

</main>
@code {
    [Parameter]
    public Guid userOfPageID { get; set; }

    bool _loading = true;

    User? _userOfPage;
    User? _currentUser;

    List<FanMovie>? _fanMovies;
    List<Movie>? _movies;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await UserLoginService.GetCurrentUserAsync();

        _userOfPage = _currentUser;

        if (!userOfPageID.Equals(new Guid()))
        {
            try
            {
                _userOfPage = await UserData.GetAsync(userOfPageID.ToString());
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }

        _loading = false;
    }
}