@page "/"
@using System.ComponentModel
@using BestMovies.Models.ApiModels
@using BestMovies.Services
@using Microsoft.IdentityModel.Tokens
@inject IMovieService MovieService

<MudPaper Elevation="0"  Width="100%">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudCarousel Class="mud-width-full"
                     Style="height: 720px"
                     ShowArrows
                     ShowBullets
                     AutoCycle
                     TData="object">
            @if (!Trending.TrendingMovies.IsNullOrEmpty())
            {
                @foreach (var movie in Trending.TrendingMovies)
                {
                    <MudCarouselItem Transition="Transition.Slide">
                        <div class="container">
                            <img src="@($"https://image.tmdb.org/t/p/w1280{movie.BackdropPath}")" alt="backdrop"/>
                        </div>
                    </MudCarouselItem>
                }
            }
        </MudCarousel>
    </MudContainer>
</MudPaper>

@code{

    private TrendingMovieWrapper Trending { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Trending = await MovieService.GetTrendingMoviesAsync();
    }

}