.container {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.text-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
    color: white;
    padding-left: 50px;
    padding-top: 50px;
}

h1 {
    font-size: xx-large;
}